:2015

encode gzip

@forbidden {
  path /app/*
  path /data/*
  path /modules/*
  path /resources/*
  path /vendor/*
}

rewrite @forbidden /index.php

php_fastcgi 127.0.0.1:9000
file_server /public/*
