{
	supervisor {
		php-fpm
	}
}

:2015

root * /srv/webtrees
php_fastcgi unix//var/run/php-fpm.sock
file_server /public/*
encode gzip

@forbidden {
	path /app/*
	path /data/*
	path /modules/*
	path /resources/*
	path /vendor/*
}
rewrite @forbidden /index.php
